$font-color: #253c57;
$font-color-hover: #89aeb3;
$font-family: "Montserrat", sans-serif;

$header-bg-color: #1b1b1b;
$header-height: 60px;
$header-text-color: #fff;
$header-text-color-hover: rgb(255, 230, 1);
$contant-max-width: 1200px;
$spacing: 10px;
