@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/media.scss";

.top-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .top-btn {
    display: block;
    position: fixed !important;
    right: 15px;
    bottom: 85px;
    z-index: 2;
    transition: all 0.5s;

    svg {
      width: 60px;
      height: 60px;
    }
  }
}
